kind: Deployment
apiVersion: apps/v1
metadata:
  name: go-monkey-deployment
  namespace: monkey
  labels:
    app: go-monkey
spec:
  replicas: 2
  selector:
    matchLabels:
      app: go-monkey
  template:
    metadata:
      labels:
        app: go-monkey
    spec:
      containers:
      - name: go-monkey
        image: replaceme
        command: ["/bin/bash", "-c"]
        resources:
          requests:
            cpu: 500m
            memory: 512Mi
          limits:
            cpu: 1000m
            memory: 1000Mi
        args: ["monkey -host=0.0.0.0 -port=5555 -logtostderr"]
        ports:
          - containerPort: 5555
        imagePullPolicy: "Always"
        env:
          - name: MONKEY_SEED
            valueFrom:
              secretKeyRef:
                name: monkey
                key: seed
          - name: REDIS_HOST
            value: redis.redis
          - name: REDIS_DB
            value: "14"                         
          - name: DB_HOST
            value: postgres.kubegres          
          - name: DB_PORT
            value: "5432"
          - name: DB_SSLMODE
            value: disable
          - name: DB_NAME
            valueFrom:
              secretKeyRef:
                name: monkey
                key: db_name   
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: monkey
                key: db_user  
          - name: DB_PASS
            valueFrom:
              secretKeyRef:
                name: monkey
                key: db_password  
